* text=auto
*.cmd text eol=crlf
*.sh text eol=lf

.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
tests/ export-ignore
MEDIA_SOURCES.md export-ignore
DEPLOYMENT.md export-ignore
